<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about us</title>
    <link rel="stylesheet" href="../css/about.css" />
  </head>
  <body>
    <main>
      <div id="content">
        <div id="about">
          <div class="innertop">
            <img src="../img/about.jpg" />
          </div>
          <div class="innerbottom">
            <p class="bottom-str1">About us</p>
            <p class="bottom-str1">
              같은 꽃이어도 컬러와 향기가 모두 다른 한송이의 꽃처럼 <br />
              당신만의 무드를 꽃피워줄 Blooming - Mood 메이크업 브랜드 데이지크.
              <br />
              데이지크가 당신의 숨겨진 아름다움을 찾아줄거에요
            </p>
            <br />
            <img src="../img/데이지크 심볼로고.png" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
