<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="javascript:kakaoLogin();"
      ><img
        src="https://www.gb.go.kr/Main/Images/ko/member/certi_kakao_login.png"
        style="height: 50px; width: auto"
    /></a>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <script>
      window.Kakao.init('');

      function kakaoLogin() {
        window.Kakao.Auth.login({
          scope: 'profile_nickname, profile_image, friends',
          success: function (authObj) {
            console.log(authObj);
            window.Kakao.API.request({
              url: '/v2/user/me',
              success: function (res) {
                const kakao_account = res.kakao_account;
                console.log(kakao_account);
              },
            });
          },
        });
      }
    </script>
  </body>
</html>
