<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="../css/shop.css" />
  </head>
  <body>
    <div id="content">
      <div id="shop">
        <div id="left">
          <div id="leftmenuwrap">
            <div id="leftmenu">
              <div id="menu-all-wrap">
                <div id="menu-all">
                  <div class="menu-all-sub">
                    <ol>
                      <li>
                        <a
                          href="https://dasique.co.kr/product/list.html?cate_no=102"
                          ><span>릴레이 특가</span></a
                        >
                        <ul></ul>
                      </li>
                      <li>
                        <a
                          href="https://dasique.co.kr/product/list.html?cate_no=66"
                          ><span>ALL</span></a
                        >
                        <ul></ul>
                      </li>
                      <li>
                        <a
                          href="https://dasique.co.kr/product/list.html?cate_no=57"
                          ><span>EYE</span></a
                        >
                        <ul>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=71"
                              >섀도우 팔레트</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=72"
                              >아이라이너</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=73"
                              >마스카라</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=69"
                              >글리터</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a
                          href="https://dasique.co.kr/product/list.html?cate_no=56"
                          ><span>LIP</span></a
                        >
                        <ul>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=74"
                              >립스틱</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=75"
                              >틴트</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=95"
                              >립밤</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=98"
                              >립펜슬</a
                            >
                          </li>
                        </ul>
                      </li>

                      <li>
                        <a
                          href="https://dasique.co.kr/product/list.html?cate_no=58"
                          ><span>BLUSH</span></a
                        >
                        <ul>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=77"
                              >블러셔</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=92"
                              >쉐딩</a
                            >
                          </li>
                        </ul>
                      </li>

                      <li>
                        <a
                          href="https://dasique.co.kr/product/list.html?cate_no=90"
                          ><span>NAIL</span></a
                        >
                        <ul></ul>
                      </li>

                      <li>
                        <a
                          href="https://dasique.co.kr/product/list.html?cate_no=85"
                          ><span>BASE</span></a
                        >
                        <ul>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=87"
                              >쿠션</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://dasique.co.kr/product/list.html?cate_no=93"
                              >컨실러</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="itemcontent">
          <div class="new-arrival">
            <div id="title" style="margin-bottom: 55px">
              <h2>NEW ARRIVAL</h2>
            </div>

            <ul class="arrival3">
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a href="#">
                      <div style="position: relative">
                        <div id="arrival-image">
                          <img
                            src="../img/shadow-palette.jpg"
                            width="100%"
                            class="arrival-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/shadow-palette2.jpg"
                        width="100%"
                        class="arrival-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=369&cate_no=1&display_group=2"
                    >
                      <span style="font-size: 18px; color: #5e2e2e">
                        [홀리데이] 섀도우 팔레트 + 립글로즈 SET
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>51,000원</strike>
                    </span>
                    <span class="price normal">29,900원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img
                      src="../img/sold_out.png"
                      class="icon-img"
                      alt="품절"
                    />
                    <img src="../img/new.png" alt="NEW" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=371&cate_no=1&display_group=3"
                    >
                      <div style="position: relative">
                        <div id="arrival-image">
                          <img
                            src="../img/tint.jpg"
                            width="100%"
                            class="arrival-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/tint2.jpg"
                        width="100%"
                        class="arrival-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a href="#">
                      <span style="font-size: 18px; color: #5e2e2e">
                        [홀리데이] 쥬시 듀이 틴트
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>17,000원</strike>
                    </span>
                    <span class="price normal">11,900원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/new.png" alt="NEW" />
                    <img src="../img/sale.png" alt="SALE" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=361&cate_no=1&display_group=3"
                    >
                      <div style="position: relative">
                        <div id="arrival-image">
                          <img
                            src="../img/lip-balm.jpg"
                            width="100%"
                            class="arrival-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/lip-balm2.jpg"
                        width="100%"
                        class="arrival-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a href="#">
                      <span style="font-size: 18px; color: #5e2e2e">
                        [넛츠 컬렉션] 프루티 립잼
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>17,000원</strike>
                    </span>
                    <span class="price normal">11,900원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img
                      src="../img/sold_out.png"
                      class="icon-img"
                      alt="품절"
                    />
                    <img src="../img/new.png" alt="NEW" />
                    <img src="../img/sale.png" alt="SALE" />
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="best-item">
            <div id="title" style="margin-top: 50px; margin-bottom: 55px">
              <h2>BEST ITEM</h2>
            </div>
            <ul class="item4">
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a href="#">
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/shadow-palette.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/shadow-palette2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=369&cate_no=1&display_group=2"
                    >
                      <span style="font-size: 18px; color: #5e2e2e">
                        [홀리데이] 섀도우 팔레트 + 립글로즈 SET
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>51,000원</strike>
                    </span>
                    <span class="price normal">29,900원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img
                      src="../img/sold_out.png"
                      class="icon-img"
                      alt="품절"
                    />
                    <img src="../img/new.png" alt="NEW" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=371&cate_no=1&display_group=2"
                    >
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/tint.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/tint2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=371&cate_no=1&display_group=2"
                    >
                      <span style="font-size: 18px; color: #5e2e2e">
                        [홀리데이] 쥬시 듀이 틴트
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>17,000원</strike>
                    </span>
                    <span class="price normal">11,900원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/new.png" alt="NEW" />
                    <img src="../img/sale.png" alt="SALE" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=361&cate_no=1&display_group=2"
                    >
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/lip-balm.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/lip-balm2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a href="#">
                      <span style="font-size: 18px; color: #5e2e2e">
                        [넛츠 컬렉션] 프루티 립잼
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>17,000원</strike>
                    </span>
                    <span class="price normal">11,900원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img
                      src="../img/sold_out.png"
                      class="icon-img"
                      alt="품절"
                    />
                    <img src="../img/new.png" alt="NEW" />
                    <img src="../img/sale.png" alt="SALE" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=359&cate_no=1&display_group=2"
                    >
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/palette-24.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/palette-24-2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a href="#">
                      <span style="font-size: 18px; color: #5e2e2e">
                        [NEW] 섀도우 팔레트 24 뮤티드 넛츠
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>34,000원</strike>
                    </span>
                    <span class="price normal">27,200원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/new.png" alt="NEW" />
                    <img src="../img/20%.png" alt="20%" />
                  </p>
                </div>
              </li>

              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=360&cate_no=1&display_group=2"
                    >
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/vlending10.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/vlending10-2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a href="#">
                      <span style="font-size: 18px; color: #5e2e2e">
                        [NEW] 블렌딩 무드 치크 10 뮤티드 넛츠
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>24,000원</strike>
                    </span>
                    <span class="price normal">19,200원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/best.png" class="icon-img" alt="best" />
                    <img src="../img/sale.png" alt="sale" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=364&cate_no=1&display_group=2"
                    >
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/mood-eye-liner.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/mood-eye-liner2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a href="#">
                      <span style="font-size: 18px; color: #5e2e2e">
                        무드 슬림 아이라이너
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>13,000원</strike>
                    </span>
                    <span class="price normal">9,100원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/best.png" alt="best" />
                    <img src="../img/sale.png" alt="SALE" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=273&cate_no=1&display_group=2"
                    >
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/shadow-palette(ice).jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/shadow-palette(ice)2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a href="#">
                      <span style="font-size: 18px; color: #5e2e2e">
                        섀도우 팔레트 (아이스크림 컬렉션)
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>34,000원</strike>
                    </span>
                    <span class="price normal">27,200원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/new.png" alt="NEW" />
                    <img src="../img/sale.png" alt="SALE" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=344&cate_no=1&display_group=2"
                    >
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/shadow-palette23.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/shadow-palette23-2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a href="#">
                      <span style="font-size: 18px; color: #5e2e2e">
                        섀도우 팔레트 23 썸머 코랄
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>34,000원</strike>
                    </span>
                    <span class="price normal">27,200원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/new.png" alt="NEW" />
                    <img src="../img/20%.png" alt="20%" />
                  </p>
                </div>
              </li>

              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a href="#">
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/vlending-layer.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/vlending-layer2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=345&cate_no=1&display_group=2"
                    >
                      <span style="font-size: 18px; color: #5e2e2e">
                        블렌딩 레이어 치크 01 썸머 코랄
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>24,000원</strike>
                    </span>
                    <span class="price normal">19,200원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/new.png" class="icon-img" alt="new" />
                    <img src="../img/sale.png" alt="sale" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a href="#">
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/dewey-tint.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/dewey-tint2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=346&cate_no=1&display_group=2"
                    >
                      <span style="font-size: 18px; color: #5e2e2e">
                        쥬시 듀이 틴트 (썸머 코랄 컬렉션)
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>17,000원</strike>
                    </span>
                    <span class="price normal">11,900원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/new.png" alt="new" />
                    <img src="../img/sale.png" alt="SALE" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a href="#">
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/glitter-powder.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/glitter-powder2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=347&cate_no=1&display_group=2"
                    >
                      <span style="font-size: 18px; color: #5e2e2e">
                        스탈릿 글리터 파우더 (썸머 코랄 컬렉션)
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>12,000원</strike>
                    </span>
                    <span class="price normal">9,600원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/new.png" alt="NEW" />
                    <img src="../img/sale.png" alt="SALE" />
                  </p>
                </div>
              </li>
              <li id="anchorBox">
                <div class="prdpadding">
                  <div class="prdline">
                    <a href="#">
                      <div style="position: relative">
                        <div id="item-image">
                          <img
                            src="../img/liquid-glitter.jpg"
                            width="100%"
                            class="item-image"
                          />
                        </div>
                      </div>
                      <img
                        src="../img/liquid-glitter2.jpg"
                        width="100%"
                        class="item-image2"
                      />
                    </a>
                  </div>

                  <div class="colorWrap">
                    <div class="color displaynone"></div>
                  </div>
                  <p class="name 1">
                    <a
                      href="https://dasique.co.kr/product/detail.html?product_no=332&cate_no=1&display_group=2"
                    >
                      <span style="font-size: 18px; color: #5e2e2e">
                        스탈릿 쥬얼 리퀴드 글리터
                      </span>
                    </a>
                  </p>
                  <p class="prices">
                    <span class="custom">
                      <strike>15,000원</strike>
                    </span>
                    <span class="price normal">10,500원</span>
                    <span class="price normal displaynone"></span>
                  </p>
                  <p class="info displaynone"></p>
                  <p class="icon">
                    <img src="../img/new.png" alt="NEW" />
                    <img src="../img/sale.png" alt="sale" />
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
